<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="agriculture.vermipro">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".VerificationActivity"
            android:label="@string/title_activity_verification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OneTimeLoginActivity"
            android:label="@string/title_activity_one_time_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OldOrdersActivity"
            android:label="@string/title_activity_old_orders"
            android:parentActivityName=".CategoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="agriculture.vermipro.CategoryActivity" />
        </activity>
        <activity
            android:name=".ProductDetailActivity"
            android:label="@string/title_activity_product_detail"
            android:parentActivityName=".ProductsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="agriculture.vermipro.ProductsActivity" />
        </activity>
        <activity
            android:name=".ProductsActivity"
            android:label="@string/title_activity_products"
            android:parentActivityName=".CategoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="agriculture.vermipro.CategoryActivity" />
        </activity>
        <activity android:name=".CategoryActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>